{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en" class="{% if is_dark_theme %}dark{% endif %}">
  <head>
    {% if title %}
    <title>APT - {{ title }}</title>
    {% else %}
    <title>APT</title>
    {% endif %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% tailwind_css %} {% comment %}
    <script type="module" src="src/js/controller.js"></script>
    {% endcomment %}
  </head>

  <body class="bg-gray-50 dark:bg-slate-700 text-black dark:text-gray-50">
    {%include 'navbar.html' %}
    <div class="container mx-auto pt-8">
      {% block content %}{% endblock content %}
    </div>
    {% block js_block %}{% endblock js_block %}
  </body>
</html>
