<nav
  class="flex justify-between h-20 items-center bg-slate-400 dark:bg-gray-900 text-gray-900 dark:text-gray-100 px-4 shadow-lg shadow-gray-400"
>
  <ul class="flex">
    <li class="px-4">
      <a href="{% url 'public-home' %}" class="navtext">HOME</a>
    </li>
    <li class="px-4">
      <a href="{% url 'acct-home' %}" class="navtext">ACCOUNT</a>
    </li>
    <li class="px-4">
      <a href="{% url 'prod-home' %}" class="navtext">Product</a>
    </li>
    <li class="px-4">
      <a href="{% url 'issue-home' %}" class="navtext">Issue</a>
    </li>
    <li class="px-4">
      <a href="{% url 'public-about' %}" class="navtext">About</a>
    </li>
  </ul>

  <div>
    <a
      href="{% url 'change-theme' %}"
      class="bg-gray-100 px-4 py-2 rounded-xl hover:bg-gray-300 furation-300 dark:bg-slate-600 shadow-lg shadow-black"
    >
      {% if is_dark_theme %}
      <i class="fa-solid fa-sun"></i>
      {% else %}
      <i class="fa-solid fa-moon"></i>
      {% endif %}
    </a>
  </div>
</nav>
